<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>PREENCHA OS DADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="avatar-container">
    <ion-icon name="person-circle-outline" class="icon-person"></ion-icon>
  </div>
  
  <div class="formulario">
    
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="nome" labelPlacement="floating" label="Nome completo:" type="text" fill="outline"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-input [(ngModel)]="data" labelPlacement="floating" label="Data de nascimento:" type="text" fill="outline" placeholder="DD/MM/AAAA"></ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="peso" labelPlacement="floating" label="Peso:" type="number" fill="outline"></ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="altura" labelPlacement="floating" label="Altura:" type="number" fill="outline"></ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-select [(ngModel)]="genero" label="Gênero:" labelPlacement="floating" fill="outline" placeholder="Selecione">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
    <ion-select-option value="Feminino">Feminino</ion-select-option>
    <ion-select-option value="Outro">Outro</ion-select-option>
    </ion-select>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="email" labelPlacement="floating" label="E-MAIL:" type="email" fill="outline"></ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="senha" labelPlacement="floating" label="Senha:" type="password" fill="outline">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <div class="botao-container">
      <ion-button (click)="salvar()" expand="block" class="register-button">
        CADASTRAR
      </ion-button>
    </div>
  </div>

</ion-content>