<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <h1 class="intro">Preencha os dados corretamente:</h1>
  <div class="person">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>  
  <div class="corpo">
    <ion-item>
      <ion-input class="inputs" label="Nome:"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Data de nascimento:" placeholder="__/__/____"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Altura: "></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Gênero: "></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Peso: "></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="E-mail: "></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Senha: "></ion-input>
    </ion-item>
  </div>
  <ion-button class="botao">CADASTRAR</ion-button>
</ion-content>
