.topo{
  width: 100%;
}

.intro{
  align-content: center;
  float: left;
  margin-left: 12%;
  font-size: xx-large;
}

.voltar{
  float: left;
  padding: 3%;
  --background: white;
}

.formulario{
  height: auto;
  clear: both;
  padding: 10%;
}

ion-input{
  margin-top: 10%;
  --background: white;
  --color: black;
}

.botao{
  --background: white;
  padding: 10%;
  width: 100%;
}