<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
<div class="hits-header">
  <ion-back-button defaultHref="/home" text="" class="voltar"></ion-back-button>
  <h1 class="hits-title">HITS</h1>
</div>

  <div class="corpo">
  <ion-label class="texto">HIT NA BIKE</ion-label>
  <ion-button class="botao"  [routerLink]="['/tempo']"shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR
  </ion-button>

  <ion-label class="texto">HIT ELÍPTICO</ion-label>
  <ion-button class="botao"  [routerLink]="['/tempo']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

  <div class="corpo">
  <ion-label class="texto">HIT NA ESTEIRA</ion-label>
  <ion-button class="botao"  [routerLink]="['/tempo']"shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR
  </ion-button>

  <div class="corpo">
  <ion-label class="texto">DANÇA</ion-label>
  <ion-button class="botao"  [routerLink]="['/tempo']"shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR
  </ion-button>

  </div>
