.titulo {
  background: rgba(255, 255, 255, 0.15); 
  padding: 40px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  text-align: center;
  font-size: small;
  padding: 5%;
}
.aviso{
  text-align: center;
  margin-top: 10%;
}
form{
  margin-left: 40px;
  display:block !important;
  margin-top: 10%;
}
ion-content{    
  --background: none;
  background-image: url("/assets/girl.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
input{
  font-size: 20px;
}
form input[type="radio"] {
  appearance: none;        
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;   
  border-radius: 50%;      
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 6px;
  vertical-align: middle;
  transition: 0.2s;
}

form input[type="radio"]:checked {
  background-color: #fff;  
}
form label {
  color: #fff;              
  font-size: 14px;
  cursor: pointer;
}
.botao {
    padding: 30% 0;
    width: 50%;
    margin-top: -90px;
    margin-left: 100px;
  }