ion-content{    
  --background: none;
  background-image: url("/assets/comida.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.titulo {
  background: rgba(255, 255, 255, 0.15); 
  padding: 40px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  text-align: center;
  font-size: small;
  padding: 5%;
}
.aviso{
  text-align: center;
  margin-top: 5%;
}
.questao{
  float: left;
  margin-left: 8%;
  margin-top: 7%;
  width: 100%;
  text-align: left;
}
.check{
  text-align: center;
}
.check ion-checkbox{
  margin: 20px;
}