<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="titulo">DIETA</div>
  <div class="aviso">RESPONDA AO QUESTIONÁRIO CORRETAMENTE!</div>

  <div class="corpo">

    <ion-label class="questao">Você tem alguma meta específica?</ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

    <ion-label class="questao">
      Tem alguma condição de saúde (diabetes, hipertensão, 
      <br>colesterol alto, problemas renais, gastrite etc.)?
    </ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

    <ion-label class="questao">Já fez algum acompanhamento nutricional antes?</ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

    <ion-label class="questao">Em quanto tempo gostaria de atingir seus objetivos?</ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

    <ion-label class="questao">
      Prefere um plano mais flexível (com substituições) 
      <br>ou mais estruturado (refeições fixas)?
    </ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

    <ion-label class="questao">
      Gostaria que o plano incluísse cardápio com receitas ou apenas lista de alimentos e quantidades?
    </ion-label>
    <div class="check">
      <ion-checkbox labelPlacement="end">Sim</ion-checkbox>
      <ion-checkbox labelPlacement="end">Não</ion-checkbox>
    </div>

  </div>
</ion-content>
