<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-back-button defaultHref="/principal" class="botao-voltar"></ion-back-button>
    <div class="titulo-meio">
HIT 25'
    </div>
  </div>

<ion-content class="page-bg">
  <div class="page-background"></div>

  <div class="conteudo">
    <h2 class="page-title">Escolha seu nível!</h2>

<div class="container">
  <div class="item" *ngFor="let nivel of niveis">
    <div class="thumb nivel-{{nivel.numero}}">
      <div class="label">Nível</div>
      <div class="number">{{nivel.numero}}</div>
    </div>

<div class="content">
  <div class="title">{{nivel.titulo}}</div>
  <ion-button fill="clear" class="chev-btn" [routerLink]="['/nivel', nivel.numero]">
    <ion-icon name="chevron-forward-outline" class="chev"></ion-icon>
  </ion-button>
  </div>
</div>