<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
<div class="hits-header">
  <ion-back-button defaultHref="/hits" text="" class="voltar"></ion-back-button>
  <h1 class="hits-title">TEMPO</h1>
</div>
<div class="corpo">
 <ion-button class="botao"  [routerLink]="['/hitdez']"shape="round">
    10'min
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

<ion-button class="botao"  [routerLink]="['/hitquinze']"shape="round">
    15'min
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

<ion-button class="botao"  [routerLink]="['/hitvinte']"shape="round">
    20'min
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

<ion-button class="botao"  [routerLink]="['/hitvinteecinco']"shape="round">
    25'min
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</div>