<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
<div class="hits-header">
  <ion-back-button defaultHref="/tempo" text="" class="voltar"></ion-back-button>
  <h1 class="hits-title">HIT 15'</h1>
</div>

<ion-content class="page-bg">
  <div class="page-background"></div>

  <div class="conteudo">
    <h2 class="page-title">Escolha seu nível!</h2>

<div class="container">
  <div class="item" *ngFor="let nivel of niveis">
    <div class="thumb nivel-{{nivel.numero}}">
      <div class="label">Nível</div>
      <div class="number">{{nivel.numero}}</div>
    </div>

<div class="content">
  <div class="title">{{nivel.titulo}}</div>
  <ion-button fill="clear" class="chev-btn" [routerLink]="['/nivel', nivel.numero]">
    <ion-icon name="chevron-forward-outline" class="chev"></ion-icon>
  </ion-button>
  </div>
</div>
