<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  
  <div class="header-container">
    <ion-back-button defaultHref="/home" class="botao-voltar"></ion-back-button>
    
    <div class="titulo-meio">OPÇÃO A</div>
    
    <ion-avatar class="avatar">
      <img src="assets/girl.jpg"/>
    </ion-avatar>
  </div>

  <div class="subtitulo">
    Abdômen, Ombro, Peitoral
  </div>

  <div class="corpo">
    <div *ngFor="let ex of exercicios; let i = index" class="exercicio-card">
      <ion-thumbnail>
        <img [src]="ex.img" />
      </ion-thumbnail>

      <div class="exercicio-info">
        <h3>{{ ex.nome }}</h3>
        <p>{{ ex.descanso }} (Descanso entre séries)</p>
      </div>

      <div class="timer">
        <ion-button
          size="small"
          shape="round"
          [color]="ex.rodando ? 'danger' : 'primary'"
          (click)="toggleTimer(i)">
          <ion-icon
            slot="icon-only"
            [name]="ex.rodando ? 'pause-outline' : 'play-outline'">
          </ion-icon>
        </ion-button>
        <span>{{ formatarTempo(ex.tempo) }}</span>
      </div>
    </div>
  </div>

  <ion-button expand="block" shape="round" class="botao">
    FINALIZAR TREINO
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

</ion-content>