.titulo{
    text-align: center;
    padding: 10%;
}

.input{
    background-color: rgb(31, 31, 31);
}

.label{
    font-size: x-small;
}
.div-login
{
    padding:0 10%;
}

.botao{
    padding: 30% 0;
}