<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-back-button defaultHref="/home" class="botao-voltar"></ion-back-button>
    <div class="titulo-meio">LOGIN</div>
  </div>

  <div class="div-login">
    <!-- Input de E-mail -->
    <ion-input label="E-mail:" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>

    <!-- Input de Senha -->
    <ion-input label="Senha (8 caracteres):" labelPlacement="floating" maxlength="8" type="password" [(ngModel)]="senha">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <p><a href="/esenha">Esqueci minha senha</a></p>

    <!-- Botão de Login -->
    <ion-button class="botao" color="medium" style="--border-radius: 100px;" (click)="logar()">
      ENTRAR
    </ion-button>

    <!-- Mensagem de erro -->
    <ion-text color="danger" *ngIf="erroMsg">{{ erroMsg }}</ion-text>
  </div>
</ion-content>
