ion-header{
right:115px;
margin-top: -18%;
}
.div-login {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    min-height: 100vh;         
    text-align: center;       
    position: fixed;           
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;              
}
.intro {
    text-align: center;
    font-size: large;
}

ion-input {
    text-align: left;
    --background: white;
    --color: black;
    --placeholder-color: gray;
    --padding-start: 5%;
    --border-radius: 20px;
    margin: 10% 0;
    height: 10%;
    width: 100%;   
    max-width: 100%;
}

.label{
    font-size: x-small;
}
.div-login
{
    padding:0 10%;
}

.botao{
    padding: 30% 0;
    width: 50%;
}

.button-inner{
    width: 20%;
    margin:0 ;
}