<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
      <ion-title size="large" class="titulo">LOGIN</ion-title>
  </ion-header>
  <div id="container">

      <ion-input placeholder="E-MAIL:" class="input" color="light"></ion-input>
      <ion-label class="label" color="danger">*CAMPO OBRIGATÓRIO</ion-label>

      <ion-input placeholder="SENHA:" class="input"></ion-input>
      <ion-label class="label" color="danger">*CAMPO OBRIGATÓRIO</ion-label>

      <p><a href="#">esqueci minha senha</a></p>

  <ion-button expand="block">ENTRAR</ion-button>
  </div>
</ion-content>
