<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-back-button defaultHref="/login" class="botao-voltar"></ion-back-button>
    <div class="titulo-meio">ESQUECEU SUA SENHA?</div>
  </div>

  <div class="div-esenha">
    <ion-input label="E-mail:" labelPlacement="floating" type="email"></ion-input>
       <ion-button id="envio" class="botao" color="medium" style="--border-radius: 100px;">ENVIAR CÓDIGO</ion-button>
       <ion-popover trigger="envio" triggerAction="click" side="top" alignment="center">
        <ng-template>
          <ion-content>Código enviado</ion-content>
        </ng-template>
       </ion-popover>
    </div>
