<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-back-button defaultHref="/login" class="botao-voltar"></ion-back-button>
    <div class="titulo-meio">ESQUECEU SUA SENHA?</div>
  </div>

  <div class="div-esenha">
    <ion-input label="E-mail:" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
    
    <ion-button class="botao" color="medium" style="--border-radius: 100px;" (click)="enviarCodigo()">ENVIAR CÓDIGO</ion-button>

    <!-- Mensagem de erro -->
    <ion-text color="danger" *ngIf="erroMsg">{{ erroMsg }}</ion-text>

    <!-- Mensagem de sucesso -->
    <ion-text color="success" *ngIf="sucessoMsg">{{ sucessoMsg }}</ion-text>
  </div>
</ion-content>
