.boas-vindas {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
}

.botaoR{
    margin-bottom: 7%;
    margin-top: 7%;
    margin-left: 2%;
}

.text{
    text-align: center;
    font-size: large;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15%;
    height: 100%;
    align-content: center;
}

.fotinha{
    width:30%;
    display: block;
    margin: 10% auto;
    border-radius: 50%;
}

.botaoA{
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: bold;
}