<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="boas-vindas">
    <ion-button class="botaoR" color="medium" (click)="voltar()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label class="text">INFORMAÇÕES PESSOAIS</ion-label>
  </div>

  <div class="corpo">
    <div class="foto-container">
      <img
    [src]="'http://localhost/autenticacao/uploads/' + imagemUsuario"
  class="foto-perfil"
    (error)="onImageError($event)"
  />
    </div>

    <ion-list>
      <ion-item>Nome: {{ usuario.nome }}</ion-item>
      <ion-item>E-mail: {{ usuario.email }}</ion-item>
      <ion-item>Data de nascimento: {{ usuario.dataN }}</ion-item>
      <ion-item>Gênero: {{ usuario.genero }}</ion-item>
    </ion-list>

    <ion-button
      class="botaoA"
      color="medium"
      shape="round"
      routerLink="/config"
    >
      Alterar informações
    </ion-button>
  </div>
</ion-content>
