<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="boas-vindas">
    SEJA BEM-VINDA, {{ usuario.nome }}!
  </div>

  <div class="corpo">
  <ion-label class="texto">MEUS TREINOS</ion-label>
<ion-button class="botao"  [routerLink]="['/treinos']"shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR
  </ion-button>

    <ion-label class="texto">HITS</ion-label>
 <ion-button class="botao"  [routerLink]="['/hits']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

    <ion-label class="texto">GYM DESAFIOS</ion-label>
 <ion-button class="botao"  [routerLink]="['/gymdesafios']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

    <ion-label class="texto">DIETAS</ion-label>
 <ion-button class="botao"  [routerLink]="['/dieta']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

  </div>
</ion-content>