<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="titulo-meio">
      SEJA BEM-VINDO(A), {{ usuario.nome }}!
    </div>
    <div class="avatar">
    <ion-avatar routerLink="/info">
      <img src="assets/girl.jpg"/>
    </ion-avatar>
    </div>
  </div>

  <div class="corpo">
    <ion-label class="texto">MEUS TREINOS</ion-label>
    <ion-button class="botao" [routerLink]="['/treinos']" shape="round">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      ACESSAR
    </ion-button>

    <ion-label class="texto">HITS</ion-label>
    <ion-button class="botao" [routerLink]="['/hits']" shape="round">
      ACESSAR
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>

    <ion-label class="texto">GYM DESAFIOS</ion-label>
    <ion-button class="botao" [routerLink]="['/gymdesafios']" shape="round">
      ACESSAR
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>

    <ion-label class="texto">DIETAS</ion-label>
    <ion-button class="botao" [routerLink]="['/dieta']" shape="round">
      ACESSAR
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="propaganda">
    <swiper
      #swiper
      [slidesPerView]="1"
      [pagination]="{ clickable: true }"
      [autoplay]="{ delay: 1000, disableOnInteraction: false }"
      class="swiper-container"
    >
      <ng-template swiperSlide *ngFor="let p of propagandas">
        <a [href]="p.link" target="_blank" rel="noopener noreferrer">
          <img [src]="p.img" alt="Propaganda">
        </a>
      </ng-template>
    </swiper>
  </div>
</ion-content>
