.boas-vindas {
    background: rgba(255, 255, 255, 0.15); 
    padding: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
    font-size: small;
    padding: 5%;
}

.texto{
    float: left;
    margin-left: 10%;
    margin-top: 15%;
    width: 100%;
    text-align: left;
}

.corpo{
    margin-top: 20%;
}

.botao{
    --background:rgb(179, 179, 179);
    margin-left: 5%;
    width: 90%;
    float: left
}

ion-content{    
    --background: none;
    background-image: url("/assets/girl.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .propaganda {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .propaganda img {
    width: 90%;
    max-width: 350px;
    border-radius: 10px;
  }  