<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-back-button defaultHref="/principal" class="botao-voltar"></ion-back-button>
    <div class="titulo-meio">MEUS TREINOS</div>
  </div>

  <div class="corpo">
  <ion-label class="texto">OPÇÃO A</ion-label>
<ion-button class="botao"  [routerLink]="['/opcaoa']"shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR
  </ion-button>

    <ion-label class="texto">OPÇÃO B</ion-label>
 <ion-button class="botao"  [routerLink]="['/opcaob']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

    <ion-label class="texto">OPÇÃO C</ion-label>
 <ion-button class="botao"  [routerLink]="['/opcaoc']"shape="round">
    ACESSAR
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

  </div>