<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="titulo">
    MEUS TREINOS
  </div>

  <div class="corpo">
  <ion-label class="texto">ACESSE SEUS TREINOS</ion-label>
  
  <ion-label class="texto">OPÇÃO A</ion-label>
  <ion-button class="botao" shape="round">
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    ACESSAR >
  </ion-button>

  <ion-label class="texto">OPÇÃO B</ion-label>
  <ion-button class="botao" shape="round">
    ACESSAR >
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

  <ion-label class="texto">OPÇÃO C</ion-label>
  <ion-button class="botao" shape="round">
    ACESSAR >
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

  </ion-button>
  </div>
</ion-content>

