<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">GYM DESAFIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-bg">
  <div class="page-background"></div>

  <div class="container">
    <h2 class="page-title">Seus desafios semanais!!</h2>


<div class="day-list">
  <div class="day-card" *ngFor="let dia of dias; let i = index">
    <button class="day-header" (click)="toggleDia(i)" [class.open]="dia.open">
      <div class="day-left">
        <span>{{ dia.nome }}</span>
        <span class="toggle-hint">{{ dia.open ? 'Fechar' : 'Abrir' }}</span>
      </div>
      <div class="day-right">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </button>

    <div class="day-content" [class.open]="dia.open">
      <ion-item *ngFor="let desafio of dia.desafios">
        <ion-label>
          <div class="ref-title">
            {{ desafio.titulo }}
          </div>
          <div class="treino-list">
             <p *ngFor="let treino of desafio.treino">{{ treino }}</p>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</div>


