ion-content {
    --background: none;
    background-image: url("/assets/academiafundo.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header no topo */
.header-treino {
     background: rgba(255, 255, 255, 0.15); 
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
    font-size: small;
}

.titulo {
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
  font-weight: bold;
}

.observacao {
  text-align: center;
  font-size: 13px;
  margin: 20px 0;
  color: #ffffff;
}

.botao {
  --background: #ddd;
  --color: #000;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 10px;
}

