<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="boas-vindas">
    <ion-label class="text">INFORMAÇÕES PESSOAIS</ion-label>
  </div>

  <div class="corpo">
      <ion-list>
    <ion-item>
        <img
        [id]="idImage" 
        [src]="srcImage" 
        [style.height]="heightImage" 
        class="fotinha"
        alt="..." 
      />
    </ion-item>
    <ion-item>
      <ion-button 
        (click)="inputFile.click()"
        class="botaoC"
        color="medium" 
        shape="round"
      >Carregar</ion-button>
      <input 
          type="file" 
          style="display:none" 
          #inputFile 
          (change)="onFileSelected($event);"
      />
      
    </ion-item>
  </ion-list>
    <ion-list>
      <ion-item>
      <ion-input label="Nome:" [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item>
      <ion-input label="E-mail:" [disabled]="true" value="{{email.email}}"></ion-input>
      </ion-item>

      <ion-item>
      <ion-input label="Data de nascimento:" [disabled]="true" value="{{date.dataN}}"></ion-input>
      </ion-item>

      <ion-item>
      <ion-input label="Gênero:" [(ngModel)]="genero"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="botaoA" color="medium" shape="round" (click)="salvar()">Salvar Alterações</ion-button>
  </div>
</ion-content>
