<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/info" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INFORMAÇÕES PESSOAIS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="corpo">

    <!-- FOTO -->
    <div class="foto-bloco">
      <img
        [src]="srcImage"
        class="fotinha"
        (error)="srcImage='assets/default.png'"
        alt="Foto do usuário"
      />
      <ion-button (click)="input.nativeElement.click()" class="botaoC" color="medium" shape="round">
  CARREGAR
</ion-button>

      <input type="file" style="display:none" #inputFile (change)="onFileSelected($event)" />
    </div>

    <!-- INFORMAÇÕES -->
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome:</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">E-mail:</ion-label>
        <ion-input [value]="email" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data de nascimento:</ion-label>
        <ion-input [value]="dataN" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Gênero:</ion-label>
        <ion-input [(ngModel)]="genero"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="botaoA" color="medium" shape="round" (click)="salvar()">
      SALVAR ALTERAÇÕES
    </ion-button>
  </div>
</ion-content>
