.boas-vindas {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    padding: 10%;
    text-align: center;
}

.text{
    text-align: center;
    font-size: large;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    align-content: center;
}

.botaoA{
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: bold;
}

.textoD{
    width: 100%;
}

.fotinha{
    display: block;
    margin: 10% auto;
    border-radius: 50%;
    height: auto;
}

.botaoC{
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}