<ion-content [fullscreen]="true">
  
  <div class="div-inicio">
    <ion-label class="titulo">GYMUP</ion-label>
    <ion-label class="texto1">Já possui um cadastro?</ion-label>
    <ion-button class="botao" color="medium" style="--border-radius: 100px;" routerLink="/login">ENTRAR</ion-button>
    <ion-label class="texto2">Ainda não possui?</ion-label>
    <ion-button class="botao" color="medium" style="--border-radius: 100px;" routerLink="/cadastro">CRIAR CONTA</ion-button>
  </div>
</ion-content>
